<div class="contents row">
  <div class="container">
    <%= form_with(model: @tweet, local: true) do |form| %>
      <h3>POST</h3>
<%# 部分テンプレートとして_form.html.erbへformデータを移した。 %>
      <%= render partial: "form", locals: { form: form } %>
    <% end %>
  </div>
</div>