<div class="contents row">
  <p><%= @nickname %>'s Page</p>
  <% @tweets.each do |tweet| %>
    <div class="content_post" style="background-image: url(<%= tweet.image %>);">
      <p><%= tweet.text %></p>
    </div>
  <% end %>
</div>